<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">myPostworld</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/users">Users</a></li>
    </ul>
  </div>
</nav>